@page "/about"

<Client.Components.Public.Shared.Navbar />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Flip Card</title>
</head>
<body>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="Style.css">
    </head>
    <body>
        <div class="about">
            <div class="inner-section">
                <h1>About Us</h1>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloribus velit ducimus, enim inventore earum, eligendi
                    nostrum pariatur necessitatibus eius dicta a voluptates sit
                    deleniti autem error eos totam
                    nisi neque voluptates sit deleniti autem error eos totam nisi neque.
                </p>
                <div class="skills">
                    <button>Contact Us</button>
                </div>
            </div>
        </div>
    </body>

</body>


<Client.Components.Public.Shared.Footer />

