@page "/contact"
@using System.Threading.Tasks;
@using SendGrid;
@using SendGrid.Helpers.Mail;
@using System.ComponentModel.DataAnnotations;


<Client.Components.Public.Shared.Navbar />

<!DOCTYPE html>
<html>
<head>
    <title>Contact us</title>
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="contact-box" style="position: relative; left: 325px; top: 8px;">
            <div class="left"></div>
            <div class="right">
                <h2>Contact Us</h2>
                <EditForm Model="@newEmail" OnValidSubmit="@ExecuteEmail">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <InputText id="Name" placeholder="Your Name" @bind-Value="newEmail.Name" :null /><br /><br />
                    <InputText id="Email" placeholder="Your Email" @bind-Value="newEmail.Email" :null /><br /><br />
                    <InputText id="Subject" placeholder="Subject" @bind-Value="newEmail.Subject" :null /><br /><br />
                    <InputText id="Message" placeholder="Message" @bind-Value="newEmail.Message" :null /><br /><br />
                    <button type="submit" class="btn btn-primary">Send Email</button>
                </EditForm>
            </div>
        </div>
    </div>
</body>
</html>

<Client.Components.Public.Shared.Navbar />


@code
{
    public class EmailInPage
    {
        [Required]
        public string Name { get; set; }

        [EmailAddress]
        public string Email { get; set; }
        public string Subject { get; set; }
        public string Message { get; set; }
    }
    public EmailInPage newEmail = new EmailInPage();
    public async Task ExecuteEmail()
    {
        var apiKey = Environment.GetEnvironmentVariable("smtp.sendgrid.net");
        //   var apiKey = ("NotMyRealKeyRREJLFJL.KJG.LKJ");
        var client = new SendGridClient(apiKey);
        var from = new EmailAddress("myemail@myauthenticatedSGaccount.com", "My SendGrid Authenticated Email");
        string subject = newEmail.Subject;
        var to = new EmailAddress(newEmail.Email);
        var plainTextContent = newEmail.Message;  
        var htmlContent = "<strong>" + plainTextContent + " in html </strong>";
        var msg = MailHelper.CreateSingleEmail(from, to, subject, plainTextContent, htmlContent);
        var response = await client.SendEmailAsync(msg);
        newEmail = new EmailInPage();

    }

}

}
