@page "/"

<Client.Components.Public.Shared.Navbar/>

<main class="d-flex flex-column w-100 min-vh-90 justify-content-center align-items-center overflow-auto bg-motherboard-dev">

    <div class="container g-0">
        <div class="row g-0">
            <div class="col-lg-7 bg"></div>
            <div class="col-lg-5 d-inline-flex flex-column   p-5 shadow-no-hover op bg-white-94 ">

                <h1 class="bg-white-color bg-firstLetter">Welcome to my Personal Portfolio.</h1>
                <br />

                <p class=" bg-white-color bg-secondLetter ">
                    I'm a beginner software developer who specializes in C#, .Net , Blazor.
                    I'm glad to see you on my website.
                </p>
                <br />
                <a href="/portfolio" target="/portfolio" class="firstButton btn md-f-size-1-5 ">
                    Portfolio
                </a>
                <div style="position:absolute; left:280px; top:337px;">
                   
                <a href="/project" class=" button btn md-f-size-1-5 ">
                    More
                </a>
                    </div>
            </div>
        </div>
    </div>
    
</main>

<Client.Components.Public.Shared.Footer/>