@page "/portfolio"


<html>
<head>
    <title>Portfolio</title>
</head>
<body>
    <div style="padding:20px">
        <embed type="application/pdf" src="../assets/pdf/David_Ghubatyan.pdf" style="width:100%; height:900px">
    </div>
</body>
</html>

@code {

}
