svg text.blink[b-7ftayyem5u] {
    animation: blink-b-7ftayyem5u 2s ease-out;
}

body[b-7ftayyem5u] {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    position: relative;
}

#tagi[b-7ftayyem5u] {
    width: 70%;
    margin: 250px auto;
}

@keyframes blink-b-7ftayyem5u {
    0% {
        text-shadow: 0 0 20px rgba(226, 25, 45, 0);
    }

    20% {
        fill: rgba(226, 25, 45, 1);
        text-shadow: -5px -5px 20px rgba(226, 25, 45, 0.8), 5px -5px 20px rgba(226, 25, 45, 0.8), 5px 5px 20px rgba(226, 25, 45, 0.8), -5px 5px 20px rgba(226, 25, 45, 0.8);
        
    }

    30% {
        fill: rgba(226, 25, 45, 1);
    }

    100% {
        text-shadow: 0 0 20px rgba(226, 25, 45, 0);
    }
}

.left[b-7ftayyem5u] {
    left: 180px;
}

.st0[b-7ftayyem5u] {
    font-size: 68px;
}

.st1[b-7ftayyem5u] {
    font-size: 27px;
}

.st2[b-7ftayyem5u] {
    font-size: 82px;
}

.st3[b-7ftayyem5u] {
    font-size: 41px;
}

.st4[b-7ftayyem5u] {
    font-size: 41px;
}

.st5[b-7ftayyem5u] {
    fill: #808080;
}

.st6[b-7ftayyem5u] {
    font-size: 24px;
}

.st7[b-7ftayyem5u] {
    font-size: 24px;
}

.st8[b-7ftayyem5u] {
    font-size: 62px;
}

.st9[b-7ftayyem5u] {
    font-size: 86px;
}

.st10[b-7ftayyem5u] {
    font-size: 18px;
}

.st11[b-7ftayyem5u] {
    font-size: 18px;
}

.st12[b-7ftayyem5u] {
    font-size: 25px;
}

.st13[b-7ftayyem5u] {
    font-size: 25px;
}

.st14[b-7ftayyem5u] {
    font-size: 25px;
}

.st15[b-7ftayyem5u] {
    font-size: 32px;
}

.st16[b-7ftayyem5u] {
    font-size: 32px;
}

.st17[b-7ftayyem5u] {
    font-family: 'Open Sans';
    font-weight: 600;
    fill: #a0a0a0;
}

.st18[b-7ftayyem5u] {
    font-size: 22px;
}

.st19[b-7ftayyem5u] {
    font-size: 22px;
}

.st20[b-7ftayyem5u] {
    font-size: 36px;
}

.st21[b-7ftayyem5u] {
    font-size: 19px;
}

.st22[b-7ftayyem5u] {
    font-size: 51px;
}

.st23[b-7ftayyem5u] {
    font-size: 26px;
}

.st24[b-7ftayyem5u] {
    font-size: 33px;
}

.st25[b-7ftayyem5u] {
    font-size: 20px;
}

.st26[b-7ftayyem5u] {
    font-size: 23px;
}

.st27[b-7ftayyem5u] {
    font-size: 23px;
}

.st28[b-7ftayyem5u] {
    font-family: 'Open Sans';
}

.st29[b-7ftayyem5u] {
    font-size: 54px;
}

.st30[b-7ftayyem5u] {
    font-size: 20px;
}

.st31[b-7ftayyem5u] {
    font-size: 37px;
}




*[b-7ftayyem5u] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body[b-7ftayyem5u] {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #061de3, #e306ca);
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container[b-7ftayyem5u] {
    width: 350px;
    height: 500px;
    perspective: 800px;
}

    .container:hover > .card[b-7ftayyem5u] {
        cursor: pointer;
        transform: rotateY(180deg);
    }

.card[b-7ftayyem5u] {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front[b-7ftayyem5u],
.back[b-7ftayyem5u] {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front[b-7ftayyem5u] {
    background-image: url(https://source.unsplash.com/random/350x500);
    
}

.back[b-7ftayyem5u] {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
